<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029691210845-ftg2ikig05lpj7a5htigdj7kb320p7t6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029691210845-ftg2ikig05lpj7a5htigdj7kb320p7t6</string>
	<key>API_KEY</key>
	<string>AIzaSyCvof82lf7hfLB2jj2OLQGeukRyEzxdyVw</string>
	<key>GCM_SENDER_ID</key>
	<string>1029691210845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.egehankarakose.ForumApp</string>
	<key>PROJECT_ID</key>
	<string>forumapp-3b752</string>
	<key>STORAGE_BUCKET</key>
	<string>forumapp-3b752.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029691210845:ios:5d19e786a25ef5c2eaa1b4</string>
</dict>
</plist>